@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }    
}

.navbar {
    margin-bottom:20px;
}

.card {
    margin-bottom:20px;
}

/* If form label ends with an asterisk, it will be styled as required. */
label:after {
    content: " *";
    color: red;
}
